@charset "utf-8";

body {
	margin: 0;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	background-image: url("../img/bg.jpg");	
	font-size: 16px;
}

a {
	text-decoration: none;
	color: gray;
}

.clear {
	clear: both;
}

header {
	margin: auto;
	width: 95%;	
	color: white;
	border-bottom: dashed 1px;
	margin-bottom: 0.5rem;
}

header h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
	vertical-align: middle;
}

aside {
	margin: auto;
	width: 16%;
	background-color: white;	
	float: left; 
	border-radius: 8px;
}

aside .aboutme {
   margin: 0;
   padding: 0;
}

aside .aboutme img {
	display: block;	
	margin: 1rem auto;
	width: 85%;	
	border-radius: 8px;
}

aside .myinfo {
	display: block;	
	margin: 0 auto;
	padding: 0.5rem 0;
	width: 85%;	
	text-align: center;
	background-color: #eee;
	border-radius: 8px;
}

aside .myinfo h4 {
	margin: auto;
	margin-bottom: 10px;
}

aside .myinfo p {
	margin: auto;
	font-size: 0.7rem;
}

nav {
	margin: auto;
	width: 95%;
}

nav h3 {
	padding-bottom: 5px;
	border-bottom: dashed 1px;
}

section {
	margin: auto;
	width: 95%;	
}

section .main {
	margin: auto;
	padding: 1.5%;
	width: 80%;
	background-color: white;
	float: right;
	border-radius: 8px;
}

section .main h2 {
	padding-bottom: 5px;
	border-bottom: dashed 1px;
}

section .main .owlman_info {
	margin: auto;
	width: 100%;	
}

section .main .owlman_info p {
	margin: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem; 
}

section .main .last_activity {
	margin: auto;
	width: 100%;
}

section .main .last_book {
	margin: auto;
	width: 100%;
}

section .main .last_book .book {
	margin: 0;
	width: 100%;
	padding-left: 1.5rem;
}

section .main .last_book .book .cover {
	float: left;
}

section .main .last_book .book .cover img {
	margin: auto;
	height: 12rem;
	text-align: center;
}

section .main .last_book .book .message 
{
	margin: 0;
	padding: 0;
	margin-left: 10rem;
}

section .main .last_book .book .message .title {
	margin: 0;
	padding: 0;
	width: auto;		
}

section .main .last_book .book .message .title h3 {
	margin-top: 0;	
}

section .main .last_book .book .message .title ul {
	margin: 0;
	padding: 0;
	margin-left: 0.5rem;
	font-size: 0.8rem;
	color: gray;
}

section .main .last_book .book .message .title li {
	display: inline;
	margin-right: 1rem;
}

section .main .last_book .book .message .shop {
	display: inline-block;
}

section .main .last_book .book .message .shop ul {
	display: inline-block;	
}

section .main .last_book .book .message .shop li {
	display: inline;
	margin-right: 0.3rem;
}

section .main .last_book .book .message .shop a {
	font-weight: bold;
	background-color: #ccc;
	border-radius: 8px;
	margin: 0;
	padding: 0.3rem 0.6rem;
} 

section .main .last_book .book .message .shop a:hover {
	background-color: black;
	color: white;
}
section .main .last_book .book .message .content {
	margin: 0;
	margin-left: 0.5rem;
	width: auto;
	border-left: solid 0.2rem #ccc;
}

section .main .last_book .book .message .content p {
	padding-left: 0.5rem;
	padding-right: 1.5rem;
}

footer {
	margin: auto;
	width: 95%;	
	border-top: dashed 1px;
	margin-top: 0.5rem;
	color: white;
}

footer .copyright {
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
}