html {
	background-image: url("../img/bg.jpg");
}

#header {
	margin: auto;
	height: 100px;
	width: 95%;	
}

#content {
	margin: auto;
	height: 600px;
	width: 95%;	
}

#side {
	margin: auto;
	height: 600px;
	width: 20%;
	background-color: white;	
	float: left;		
}

#main {
	margin: auto;
	height: 600px;
	width: 79%;
	background-color: white;
	float: right;
	filter:alpha(opacity=50);  /*支持 IE 浏览器*/
	-moz-opacity:0.50; /*支持 FireFox 浏览器*/
	opacity:0.50;  /*支持 Chrome, Opera, Safari 等浏览器*/
}

#footer {
	margin: auto;
	height: 100px;
	width: 95%;	
}
